root = true

# 모든 파일 공통
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java
[*.java]
indent_style = space
indent_size = 4
max_line_length = 100

# Gradle
[*.{gradle,gradle.kts}]
indent_style = space
indent_size = 4

# XML / HTML
[*.{xml,html}]
indent_style = space
indent_size = 4

# YAML / Properties
[*.{yml,yaml,properties}]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
